<?xml version="1.0"?>

<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="block">
    <link name="body_1">
        <inertial>
            <origin xyz="0.5 0 0" />
            <mass value="1" />
            <inertia ixx="0.167"  iyy="0.167"  izz="0.167" />
        </inertial>
        <visual>
            <origin xyz="0.5 0 0" />
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
    </link>
</robot>
