<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="myfirst">
  <material name="blue">
    <color rgba="0 0 1 1" />
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.06 0.06 1.176"/>
      </geometry>
      <material name="blue" />
      <origin xyz="0.1 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.06 0.06 1.176"/>
      </geometry>
      <origin xyz="0.1 0 0"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <origin xyz="-0.1 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
</robot>
