<?xml version="1.0"?>

<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../doc/drakeURDF.xsd" name="FurutaPendulum">

  <link name="base_link">
    <inertial>
      <mass value="1" />
      <inertia ixx=".0067" ixy="0" ixz="0" iyy=".0067" iyz="0" izz="0.0067" />
    </inertial>
    <visual>
      <geometry>
         <box size=".2 .2 .2" />
      </geometry>
      <material name="green">
      	<color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>

  <link name="upper_link">
    <inertial>
      <origin xyz="0 .5 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx=".084" ixy="0" ixz="0" iyy=".0013" iyz="0" izz=".084" />
    </inertial>
    <visual>
      <origin xyz="0 .45 0" rpy="1.5708 0 0" />
      <geometry>
         <cylinder length="1" radius=".05" />
      </geometry>
      <material name="red">
	      <color rgba="1 0 0 1" />
      </material>
    </visual>
  </link>

  <link name="lower_link">
    <inertial>
      <origin xyz="0 0 -1" rpy="0 0 0" />
      <mass value="1" />
      <!-- note: the inertia of a solid ROD about it's COM is mr^2/2, 1/12 m*(3r^2+L^2) -->
      <inertia ixx=".3681" ixy="0" ixz="0" iyy="0.3681" iyz="0" izz=".0013" />
    </inertial>
    <visual>
      <origin xyz="0 0 -1" rpy="0 0 0" />
      <geometry>
        <cylinder length="2.1" radius=".05" />
      </geometry>
      <material name="blue">
	      <color rgba="0 0 1 1" />
      </material>
    </visual>
  </link>
  
  <joint name="shoulder" type="fixed">
    <parent link="base_link" />
    <child link="upper_link" />
    <origin xyz="0 0 .15" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.1" />
  </joint>

  <joint name="elbow" type="continuous">
    <parent link="upper_link" />
    <child link="lower_link" />
    <origin xyz="0 1 0" />
    <axis xyz="0 1 0" />
    <dynamics damping="0.1" />
  </joint>

  <transmission type="SimpleTransmission" name="shoulder_trans">
    <actuator name="shoulder_torque" />
    <joint name="elbow" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
</robot>
