<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="pin">

 <!-- Bowling pin -->
  <link name="pin">
    <inertial>
      <mass value="1.5"/>
      <origin xyz="0 0 0.127" rpy="0 0 0"/>
      <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.05" iyz="0" izz="0.002"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="./pin.obj" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision group="pin">
      <origin xyz="0 0 0.0815" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.061" length="0.381"/>
      </geometry>
    </collision>

  </link>
</robot>
