<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="rigid_gripper">

 <!-- A simple, rigid, two-fingered gripper.  The space between the fingers is
 just enough to fit the box in `box_small.urdf` (placed on opposite sides
 along the x-axis).
 -->

  <link name="gripper">
    <inertial>
      <origin xyz="0 -0.03525 0" rpy="0 0 0" />
      <!-- The mass of the schunk gripper; mass of body plus two fingers. -->
      <mass value="1.088882"/>
      <!-- The inertia of the schunk gripper *body* (ignoring fingers). -->
        <inertia>
          <ixx>0.162992</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.162992</iyy>
          <iyz>0</iyz>
          <izz>0.164814</izz>
        </inertia>
    </inertial>

    <!-- palm -->
    <visual>
      <origin xyz="0 -0.03525 0" rpy="0 0 0" />
      <geometry>
        <box size="0.146 0.0725 0.049521" />
      </geometry>
      <material name="">
        <color rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision group="gripper">
      <origin xyz="0 -0.03525 0" rpy="0 0 0" />
      <geometry>
        <box size="0.146 0.0725 0.049521" />
      </geometry>
    </collision>

    <!-- NOTE:
        This assumes that box_small.urdf has a size of 0.05 along the x-axis,
        centered on the y-z plane. As such, for a sphere with radius `r`, any
        x-position of magnitude greater than 0.025 + `r` will be collision free
        (finger 1 having a negative value, finger 2 having the corresponding
        positive value).

        Below, we are assuming a contact radius of 0.01, which means the contact
        threshold is 0.025 + 0.01 = 0.035.  So, the following values will
        provide the corresponding penetration depths:

        | displacement  |  Penetration depth  |
        |---------------+---------------------|
        |     0.035     |       0             |
        |     0.0349    |       0.0001        |
        |     0.0345    |       0.0005        |
        |     0.034     |       0.001         | <-- Value used below
    -->
    <!-- finger 1 -->
    <visual>
      <origin xyz="-0.032 0.0375 0" rpy="0 0 0" />
      <geometry>
        <box size="0.016 0.075 0.02" />
      </geometry>
      <material name="">
        <color rgba="0.5 0 0 1" />
      </material>
    </visual>

    <collision group="gripper">
      <origin xyz="-0.034 0.015 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="-0.034 0.03 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="-0.034 0.045 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="-0.034 0.06 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="-0.034 0.075 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>

    <!-- finger 2 -->
    <visual>
      <origin xyz="0.032 0.0375 0" rpy="0 0 0" />
      <geometry>
        <box size="0.016 0.075 0.02" />
      </geometry>
      <material name="">
        <color rgba="0.5 0 0 1" />
      </material>
    </visual>

    <collision group="gripper">
      <origin xyz="0.034 0.015 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="0.034 0.03 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="0.034 0.045 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="0.034 0.06 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision group="gripper">
      <origin xyz="0.034 0.075 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </collision>
  </link>
</robot>
