<?xml version="1.0"?>
<robot>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/z1_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo reference="link04">
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="link05">
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="link06">
        <self_collide>true</self_collide>
    </gazebo>
</robot>
