<?xml version="1.0"?>
<!-- j2s6_3 refers to jaco v2 6DOF spherical 3fingers -->


<robot xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://www.ros.org/wiki/xacro" name="j2s6s300">


  <xacro:include filename="$(find kinova_description)/urdf/j2s6s300.xacro"/>

  <link name="root"/>

  <!-- for gazebo -->
  <link name="world"/>
  
  <joint name="connect_root_and_world" type="fixed">
    <child link="root" />
    <parent link="world" />
    <origin xyz="0 0 0" rpy="0 0 0" />    
  </joint> 

  <xacro:property name="robot_root" value="root" />

  <xacro:j2s6s300  base_parent="${robot_root}"/>

</robot>
