# Import legacy .bazelrc file.
import %workspace%/tools/bazel.rc

# Import configuration.
import %workspace%/gen/environment.bzl

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
