# Import default settings (also shared with CMake builds).
import %workspace%/tools/bazel-build.rc

# Import developer-only settings (NOT shared with CMake builds).
import %workspace%/tools/bazel-developer.rc

# Import environment-specific configuration.
import %workspace%/gen/environment.bazelrc

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
