# These lines tell reviewable.io how to highlight source code.
WORKSPACE diff=bazel
**/*.cps diff=json
**/site.webmanifest diff=json

# These lines tell git diff viewers to ignore data objects.
# Wavefront geometry definition
*.obj -diff
# VTK polygon data
*.vtp -diff
# Scalable vector graphics.
*.svg -diff
