# Common editor-specific files
*.idea
*.autosave
*.aux
*.log
*.bk
*.tmp
*~
*.bak
xcode
.cproject
.project
.settings
.clwb/

# (Possible) CMake build artifacts
/build
cmake-build-*

# Bazel build artifacts
bazel-*

# User configuration artifacts
/user.bazelrc
/gen/
