[submodule "spotless"]
	path = spotless
	url = https://github.com/RobotLocomotion/spotless-pod.git
[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "lcm"]
	path = lcm
	url = https://github.com/RobotLocomotion/lcm-pod.git
[submodule "bullet"]
	path = bullet
	url = https://github.com/RobotLocomotion/bullet-pod.git
[submodule "avl"]
	path = avl
	url = https://github.com/RobotLocomotion/avl
[submodule "eigen"]
	path = eigen
	url = https://github.com/RobotLocomotion/eigen-pod.git
[submodule "xfoil"]
	path = xfoil
	url = https://github.com/RobotLocomotion/xfoil.git
