*.autosave
*.mex*
*.o*
util/drake_config.mat
examples/pr2/base.wrl
examples/pr2/base.wrl.bak
examples/pr2/caster.wrl
examples/pr2/caster.wrl.bak
examples/pr2/elbow_flex.wrl
examples/pr2/elbow_flex.wrl.bak
examples/pr2/forearm.wrl
examples/pr2/forearm.wrl.bak
examples/pr2/forearm_roll.wrl
examples/pr2/forearm_roll.wrl.bak
examples/pr2/gripper_palm.wrl
examples/pr2/gripper_palm.wrl.bak
examples/pr2/head_pan.wrl
examples/pr2/head_pan.wrl.bak
examples/pr2/head_tilt.wrl
examples/pr2/head_tilt.wrl.bak
examples/pr2/l_finger.wrl
examples/pr2/l_finger.wrl.bak
examples/pr2/l_finger_tip.wrl
examples/pr2/l_finger_tip.wrl.bak
examples/pr2/pr2.wrl
examples/pr2/shoulder_lift.wrl
examples/pr2/shoulder_lift.wrl.bak
examples/pr2/shoulder_pan.wrl
examples/pr2/shoulder_pan.wrl.bak
examples/pr2/tilting_hokuyo.wrl
examples/pr2/tilting_hokuyo.wrl.bak
examples/pr2/torso_lift.wrl
examples/pr2/torso_lift.wrl.bak
examples/pr2/upper_arm.wrl
examples/pr2/upper_arm.wrl.bak
examples/pr2/upper_arm_roll.wrl
examples/pr2/upper_arm_roll.wrl.bak
examples/pr2/wheel.wrl
examples/pr2/wheel.wrl.bak
examples/pr2/wrist_flex.wrl
examples/pr2/wrist_flex.wrl.bak
examples/pr2/wrist_roll.wrl
examples/pr2/wrist_roll.wrl.bak
doc/derivations/rigidBodyDynamicsWConstraints.aux
doc/derivations/rigidBodyDynamicsWConstraints.log
doc/derivations/elib.bib
doc/derivations/rigidBodyDynamicsWConstraints.bbl
doc/derivations/rigidBodyDynamicsWConstraints.blg
doc/derivations/rigidBodyDynamicsWConstraints.tex.bk
logfile.tmp
doc/analysis.aux
doc/analysis.tex
doc/autogen-matlab/modeling_fig001.m
doc/autogen-matlab/modeling_fig001.pdf
doc/autogen-matlab/modeling_fig002.m
doc/autogen-matlab/modeling_fig002.pdf
doc/developers.aux
doc/drake.aux
doc/drake.bbl
doc/drake.blg
doc/drake.d
doc/drake.log
doc/drake.toc
doc/feedback.aux
doc/feedback.tex
doc/intro.aux
doc/modeling.aux
doc/modeling.tex
doc/planning.aux
doc/planning.tex
examples/CompassGait/runLQR_URDF.m
fort.0
drake.a
include/lcmt_acrobot_u.h
include/lcmt_acrobot_x.h
include/lcmt_acrobot_y.h
include/lcmt_cartpole_u.h
include/lcmt_cartpole_x.h
include/lcmt_glider_u.h
include/lcmt_glider_x.h
include/lcmt_pendulum_u.h
include/lcmt_pendulum_x.h
include/lcmt_pendulum_y.h
include/lcmt_scope_data.h
util/MessageMonitor.class
util/MyLCMTypeDatabase$MyClassVisitor.class
LCMCoder.class
*.svn-base
.svn
*.aux
.drake_unit_test_mutex.mat
.unitTestData.mat
debug.txt
stepping.mat
walking.mat
doc/DoxygenMatlab/html
externals/spotless
.viewer-prefs
systems/plants/test/urdf_kin_test
systems/plants/test/urdf_kin_test.dSYM/Contents/Resources/DWARF/urdf_kin_test
systems/plants/test/.#Makefile
systems/plants/viewer/drake_viewer
