[submodule "spotless"]
	path = spotless
	url = https://github.com/RobotLocomotion/spotless-pod.git
[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "lcm"]
	path = lcm
	url = https://github.com/RobotLocomotion/lcm-pod.git
