# Copyright 2016 Robot Locomotion Group @ CSAIL. All rights reserved.
#
# All components of Drake are licensed under the BSD 3-Clause License.
# See LICENSE.TXT or https://drake.mit.edu/ for details.

# Stop searching for additional config files.
set noparent

# Disable a warning about C++ features that were not in the original
# C++11 specification (and so might not be well-supported).  In the
# case of Drake, our supported minimum platforms are new enough that
# this warning is irrelevant.
filter=-build/c++11

# Drake uses `#pragma once`, not the `#ifndef FOO_H` guard.
# https://drake.mit.edu/styleguide/cppguide.html#The__pragma_once_Guard
filter=-build/header_guard
filter=+build/pragma_once

# Disable cpplint's include order.  We have our own via //tools:drakelint.
filter=-build/include_order

# We do not care about the whitespace details of a TODO comment.  It is not
# relevant for easy grepping, and the GSG does not specify any particular
# whitespace style.  (We *do* care what the "TODO(username)" itself looks like
# because GSG forces a particular style there, but that formatting is covered
# by the readability/todo rule, which we leave enabled.)
filter=-whitespace/todo

# TODO(#1805) Fix this.
filter=-legal/copyright

# Ignore code that isn't ours.
exclude_files=third_party

# It's not worth lint-gardening the documentation.
exclude_files=doc
