<?xml version="1.0"?>

<robot name="Pendulum">

  <link name="world" />
  <link name="arm">
    <inertial> 
      <mass value="10" />
      <origin xyz="-.1 0 0" rpy="0 0 0" />
    </inertial>
  </link>
  <joint name="theta" type="continuous">
    <parent link="world"/>
    <child link="arm" />
    <axis xyz="0 1 0" />
  </joint>
</robot>
