<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.06 0.06 1.176"/>
      </geometry>
      <origin xyz="0.1 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.06 0.06 1.176"/>
      </geometry>
      <origin xyz="0.1 0 0"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="0.1 0 0"/>
    </inertial>
  </link>
</robot>