<?xml version="1.0"?>
<robot name="ground_plane">
  <link name="ground_plane">
    <visual>
      <geometry>
        <box size="10 10 0.0000000001"/>
      </geometry>
      <origin xyz="0 0 0.00000000005"/>
    </visual>
    <collision>
      <geometry>
        <box size="10 10 0.0000000001"/>
      </geometry>
      <origin xyz="0 0 0.00000000005"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>
</robot>