<?xml version="1.0"?>
<robot name="ground_plane">
  <link name="ground_plane">
    <visual>
      <geometry>
        <box size="10 10 0"/>
      </geometry>
      <origin xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="10 10 1"/>
      </geometry>
      <origin xyz="0 0 -0.5"/>
    </collision>
  </link>
</robot>