<robot
  name="Test_Wing">
  <link
    name="Wing">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value=".13" />
      <inertia
        ixx="0.008333"
        ixy="0"
        ixz="0"
        iyy=".003648"
        iyz="0"
        izz="0.008696" />
    </inertial>
    <visual>
      <origin
        xyz="-.1 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size = ".4 1 .01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-.10 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size = ".4 1 .04"/>
      </geometry>
    </collision>
  </link>
  <force_element name="Wing_force" type="wing"> 
  	<parent link="Wing"/>
  	<profile value="ht23.dat"/> 
  	<origin xyz=".1 0 0"/> 
  	<chord value=".4"/> 
  	<span value="1"/> 
  	<nominal_speed value="10"/> 
    <stall_angle value ="12"/>
  </force_element>
</robot>
