<?xml version="1.0"?>

<model>
  <name>Transcendesk Standing Desk - 55"</name>
  <version>1.0</version>
  <sdf version="1.6">transcendesk55inch.sdf</sdf>

  <author>
    <name>Lucy</name>
    <email>drake-users@mit.edu</email>
  </author>

  <description>
    A model of the Transcendesk® Standing Desk - 55 inch Long.
  </description>
</model>
