<?xml version="1.0" ?>
<model>
    <name>wsg_50</name>
    <version>1.0</version>
    <sdf>urdf/wsg_50_mesh_collision.urdf</sdf>
    <author>
        <name>Drake Users</name>
        <email>drake-users@mit.edu</email>
    </author>
    <description>A URDF of Schunk's WSG 50 robot gripper.</description>
</model>
