<?xml version='1.0'?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../doc/drakeURDF.xsd" version="1.2" name="Gazebo Steering Wheel">
	<link name='base_block'>
        <inertial>
      	<origin xyz="0 0 0.65"/>
          <mass value="100.0" />
          <inertia ixx="100.0" ixy="0" ixz="0" iyy="100.0" iyz="0" izz="100.0" />
        </inertial>

	<collision name='collision'>
      	<origin xyz="0 0 0.65"/>
	  <geometry>
	    <box size="0.25 0.125 1.3" />	
	  </geometry>
	</collision>
	
	<visual>
      	<origin xyz="0 0 0.65"/>
	  <geometry>
	    <box size="0.25 0.125 1.3" />
	  </geometry>

	  <material>
	  	<color rgba="0.2 0.2 0.2 1"/>
	   </material>
	</visual>
      </link>

      <link name="steering_wheel">
	<inertial>
	  <mass value="1.0" />
	  <inertia ixx="0.1" iyy="1000" izz="1000" />
	</inertial>

	<collision name="collision">
	  <geometry>
	    <cylinder radius="0.22" length="0.025" />
	  </geometry>
	</collision>

	<visual>
	  <geometry>
	    <cylinder radius="0.22" length="0.02" />
	  </geometry>
	  
	  <material>
	  	<color rgba="0.2 0.2 0.2 1"/>
	  </material>
	</visual>

      </link>

  <joint type="revolute" name="base_to_steering">
    <origin xyz="-0.125 0 1.3208" rpy="0 1.57 0" />
    <child link="steering_wheel"/>
    <parent link="base_block" />
    <axis xyz="1 0 0" />
  </joint>

</robot>


