<?xml version="1.0" ?>
<robot name="P1">

  <link name="world">
  </link>

  <joint name="world_to_ground" type="fixed">
    <parent link="world"/>
    <child link="ground"/>
  </joint>

  <joint name="world_to_stairs" type="fixed">
    <parent link="world"/>
    <child link="stairs"/>
  </joint>

  <joint name="world_to_outer_wall" type="fixed">
    <parent link="world"/>
    <child link="outer_wall"/>
    <origin rpy="0  0  0" xyz="0  0  0"/>
  </joint>

  <link name="outer_wall">
    <collision name="__1">
      <origin rpy="0  0  0" xyz="-1.33208  44.13956   1.524"/>
      <geometry>
        <box size=".225778 79.78978 3.048"/>
      </geometry>
    </collision>
    <visual name="__1">
      <origin rpy="0  0  0" xyz="-1.33208  44.13956   1.524"/>
      <geometry>
        <box size=".225778 79.78978 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__2">
      <origin rpy="0  0  0" xyz="-1.64817  83.9216    1.524"/>
      <geometry>
        <box size=".4064 .225778 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__3">
      <origin rpy="0  0  0" xyz="-1.94169  93.06719   1.524"/>
      <geometry>
        <box size=".180622 18.51378 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__4">
      <origin rpy="0  0  0" xyz="-4.38009  102.4144     1.524"/>
      <geometry>
        <box size="5.057422 .180622 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__5">
      <origin rpy="0  0  0" xyz="-6.81849  104.0384     1.524"/>
      <geometry>
        <box size=".180622 3.070578 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__6">
      <origin rpy="0  0  0" xyz="-4.064   105.6656    1.524"/>
      <geometry>
        <box size="5.6896 .180622 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__7">
      <origin rpy="0  0  0" xyz="-1.3305  110.9472    1.524"/>
      <geometry>
        <box size=".225778 10.38578 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__8">
      <origin rpy="0  0  0" xyz="-47.4577  115.982     1.524"/>
      <geometry>
        <box size="92.02861 .316088 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__9">
      <origin rpy="0  0  0" xyz="-3.22862  4.17688  1.524"/>
      <geometry>
        <box size="4.017256 .135466 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__10">
      <origin rpy="0  0  0" xyz="-6.92979  4.19946  1.524"/>
      <geometry>
        <box size="2.122312 .180622 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__11">
      <origin rpy="0  0  0" xyz="-5.55347  4.40266  1.524"/>
      <geometry>
        <box size=".633766 .587022 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__12">
      <origin rpy="0  0  0" xyz="-7.87964  2.05458  1.524"/>
      <geometry>
        <box size=".225778 4.109156 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__13">
      <origin rpy="0  0  0" xyz="-43.3042   -0.09031   1.524"/>
      <geometry>
        <box size="71.07484 .180622 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__14">
      <origin rpy="0  0  0" xyz="-78.9561   2.032    1.524"/>
      <geometry>
        <box size=".225778 4.064 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__15">
      <origin rpy="0  0  0" xyz="-79.7689    4.15432   1.524"/>
      <geometry>
        <box size="1.851378 .180622 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__16">
      <origin rpy="0  0  0" xyz="-80.9865    4.42524   1.524"/>
      <geometry>
        <box size=".588609 .903112 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__17">
      <origin rpy="0       0       0.16062" xyz="-83.193     3.84435   1.524"/>
      <geometry>
        <box size="3.904381 .17833 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__18">
      <origin rpy="0       0       0.16095" xyz="-89.3362   30.07934   1.524"/>
      <geometry>
        <box size=".187107 53.5695 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__19">
      <origin rpy="0  0  0" xyz="-93.58492  86.33901   1.524"/>
      <geometry>
        <box size=".225778 59.6069 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__20">
      <origin rpy="0  0  0" xyz="-91.7351   56.42187   1.524"/>
      <geometry>
        <box size="3.475391 .22578 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__21">
      <origin rpy="0      0      0.1615" xyz="-91.6656   55.74328   1.524"/>
      <geometry>
        <box size="3.421301 .22287 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__22">
      <origin rpy="0  0  0" xyz="-89.5209   56.21708   1.524"/>
      <geometry>
        <box size=".948266 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
  </link>
  <link name="stairs">
<!--     <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100"/>
    </inertial> -->
    <collision name="__23">
      <origin rpy="0  0  0" xyz="-72.0231  18.4912   1.524"/>
      <geometry>
        <box size="5.508978 2.8448 3.048"/>
      </geometry>
    </collision>
    <visual name="__23">
      <origin rpy="0  0  0" xyz="-72.0231  18.4912   1.524"/>
      <geometry>
        <box size="5.508978 2.8448 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__24">
      <origin rpy="0  0  0" xyz="-73.9648   21.22312   1.524"/>
      <geometry>
        <box size="1.6256 2.61902 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__25">
      <origin rpy="0      0      0.4704" xyz="-71.6619   88.32427   1.524"/>
      <geometry>
        <box size="3.394271 3.8573 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__26">
      <origin rpy="0  0  0" xyz="-27.432    18.71698   1.524"/>
      <geometry>
        <box size="4.380088 3.20604 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__27">
      <origin rpy="0       0      -0.50529" xyz="-30.8904  19.8324   1.524"/>
      <geometry>
        <box size="4.850808 3.5175 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__28">
      <origin rpy="0  0  0" xyz="-26.3031   68.86221   1.524"/>
      <geometry>
        <box size="2.8448 6.68302 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__29">
      <origin rpy="0  0  0" xyz="-36.0793  68.8848   1.524"/>
      <geometry>
        <box size=".180622 9.07627 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__30">
      <origin rpy="0  0  0" xyz="-27.8836   68.88437   1.524"/>
      <geometry>
        <box size=".316088 10.7288 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__31">
      <origin rpy="0       0      -0.09798" xyz="-32.0176   64.12729   1.524"/>
      <geometry>
        <box size="7.945656 .43238 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__32">
      <origin rpy="0       0       0.09596" xyz="-32.0188   73.61091   1.524"/>
      <geometry>
        <box size="7.936766 .50714 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__33">
      <origin rpy="0  0  0" xyz="-23.5276  106.5671    1.524"/>
      <geometry>
        <box size="6.592712 3.16089 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__34">
      <origin rpy="0  0  0" xyz="-25.4226  108.3056    1.524"/>
      <geometry>
        <box size=".632178 .31609 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__35">
      <origin rpy="0  0  0" xyz="-47.2101  106.0252    1.524"/>
      <geometry>
        <box size="5.012266 3.07058 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__36">
      <origin rpy="0  0  0" xyz="-4.75262000e+01   1.06680000e+02   6.35000000e-02"/>
      <geometry>
        <box size="60.82453 3.6576 .127"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__37">
      <origin rpy="0  0  0" xyz="-78.43519  101.3291     1.524"/>
      <geometry>
        <box size=".995009 2.4384 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__38">
      <origin rpy="0  0  0" xyz="-88.4597  108.3408    1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__39">
      <origin rpy="0  0  0" xyz="-88.4597   91.57547   1.524"/>
      <geometry>
        <box size=".903112 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__40">
      <origin rpy="0  0  0" xyz="-88.6178  100.426     1.524"/>
      <geometry>
        <box size="1.220788 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__41">
      <origin rpy="0  0  0" xyz="-72.6101  100.426     1.524"/>
      <geometry>
        <box size=".633766 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__42">
      <origin rpy="0  0  0" xyz="-64.2112  100.426     1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__43">
      <origin rpy="0  0  0" xyz="-55.8348  100.426     1.524"/>
      <geometry>
        <box size=".587022 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__44">
      <origin rpy="0  0  0" xyz="-47.4585  100.426     1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__45">
      <origin rpy="0  0  0" xyz="-39.08209  100.426      1.524"/>
      <geometry>
        <box size=".587022 .63377 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__46">
      <origin rpy="0  0  0" xyz="-30.6832  100.426     1.524"/>
      <geometry>
        <box size=".588609 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__47">
      <origin rpy="0  0  0" xyz="-22.3068  100.426     1.524"/>
      <geometry>
        <box size=".903112 .6322 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__48">
      <origin rpy="0  0  0" xyz="-16.5269  100.426     1.524"/>
      <geometry>
        <box size=".9047 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__49">
      <origin rpy="0  0  0" xyz="-6.45724  100.426      1.524"/>
      <geometry>
        <box size=".903112 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__50">
      <origin rpy="0  0  0" xyz="-5.55413  91.57547   1.524"/>
      <geometry>
        <box size=".632178 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__51">
      <origin rpy="0  0  0" xyz="-5.55413  82.74755   1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__52">
      <origin rpy="0  0  0" xyz="-5.55413  73.89707   1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__53">
      <origin rpy="0  0  0" xyz="-5.55413  65.06916   1.524"/>
      <geometry>
        <box size=".903112 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__54">
      <origin rpy="0  0  0" xyz="-5.55413  56.21867   1.524"/>
      <geometry>
        <box size=".903112 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__55">
      <origin rpy="0  0  0" xyz="-5.55413  47.39076   1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__56">
      <origin rpy="0  0  0" xyz="-5.55413  38.85636   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__57">
      <origin rpy="0  0  0" xyz="-5.55413  30.32196   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__58">
      <origin rpy="0  0  0" xyz="-5.55413  21.78756   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__59">
      <origin rpy="0  0  0" xyz="-5.55413  13.25316   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__60">
      <origin rpy="0  0  0" xyz="-13.9305   91.57547   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__61">
      <origin rpy="0  0  0" xyz="-13.9305   82.74755   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__62">
      <origin rpy="0  0  0" xyz="-13.9305   73.89707   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__63">
      <origin rpy="0  0  0" xyz="-13.9305   65.06916   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__64">
      <origin rpy="0  0  0" xyz="-13.9305   56.21867   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__65">
      <origin rpy="0  0  0" xyz="-13.9305   47.39076   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__66">
      <origin rpy="0  0  0" xyz="-13.9305   38.85636   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__67">
      <origin rpy="0  0  0" xyz="-13.9305   30.32196   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__68">
      <origin rpy="0  0  0" xyz="-13.9305   21.78756   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__69">
      <origin rpy="0  0  0" xyz="-13.9305   13.25316   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__70">
      <origin rpy="0  0  0" xyz="-13.9305    4.40266   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__71">
      <origin rpy="0  0  0" xyz="-22.3068   91.57547   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__72">
      <origin rpy="0  0  0" xyz="-22.3068   82.74755   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__73">
      <origin rpy="0  0  0" xyz="-22.3068   73.89707   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__73a">
      <origin rpy="0  0  0" xyz="-22.3068   65.06916   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__74">
      <origin rpy="0  0  0" xyz="-22.3068   56.21867   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__75">
      <origin rpy="0  0  0" xyz="-22.3068   47.39076   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__76">
      <origin rpy="0  0  0" xyz="-22.3068   38.85636   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__77">
      <origin rpy="0  0  0" xyz="-22.3068   30.32196   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__78">
      <origin rpy="0  0  0" xyz="-22.3068   21.78756   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__79">
      <origin rpy="0  0  0" xyz="-22.3068   13.25316   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__80">
      <origin rpy="0  0  0" xyz="-22.3068    4.40266   1.524"/>
      <geometry>
        <box size=".632178 .64911 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__81">
      <origin rpy="0  0  0" xyz="-30.6832   91.57547   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__82">
      <origin rpy="0  0  0" xyz="-30.6832   82.74755   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__83">
      <origin rpy="0  0  0" xyz="-30.6832   56.21867   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__84">
      <origin rpy="0  0  0" xyz="-30.6832   47.39076   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__85">
      <origin rpy="0  0  0" xyz="-30.6832   38.85636   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__86">
      <origin rpy="0  0  0" xyz="-30.6832   30.32196   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__87">
      <origin rpy="0  0  0" xyz="-30.6832   13.25316   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__88">
      <origin rpy="0  0  0" xyz="-30.6832    4.40266   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__89">
      <origin rpy="0  0  0" xyz="-39.08209  91.57547   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__90">
      <origin rpy="0  0  0" xyz="-39.08209  82.74755   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__91">
      <origin rpy="0  0  0" xyz="-39.08209  73.89707   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__92">
      <origin rpy="0  0  0" xyz="-39.08209  65.06916   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__93">
      <origin rpy="0  0  0" xyz="-39.08209  56.21867   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__94">
      <origin rpy="0  0  0" xyz="-39.08209  47.39076   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__95">
      <origin rpy="0  0  0" xyz="-39.08209  38.85636   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__96">
      <origin rpy="0  0  0" xyz="-39.08209  30.32196   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__97">
      <origin rpy="0  0  0" xyz="-39.08209  21.78756   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__98">
      <origin rpy="0  0  0" xyz="-39.08209  13.25316   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__99">
      <origin rpy="0  0  0" xyz="-39.08209   4.40266   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__100">
      <origin rpy="0  0  0" xyz="-47.45849  91.57547   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__101">
      <origin rpy="0  0  0" xyz="-47.45849  82.74755   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__102">
      <origin rpy="0  0  0" xyz="-47.45849  73.89707   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__103">
      <origin rpy="0  0  0" xyz="-47.45849  65.06916   1.524"/>
      <geometry>
        <box size=".632178 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__104">
      <origin rpy="0  0  0" xyz="-47.45849  56.21867   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__105">
      <origin rpy="0  0  0" xyz="-47.45849  47.39076   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__106">
      <origin rpy="0  0  0" xyz="-47.45849  38.85636   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__107">
      <origin rpy="0  0  0" xyz="-47.45849  30.32196   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__108">
      <origin rpy="0  0  0" xyz="-47.45849  21.78756   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__109">
      <origin rpy="0  0  0" xyz="-47.45849  13.25316   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__110">
      <origin rpy="0  0  0" xyz="-47.45849   4.40266   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__111">
      <origin rpy="0  0  0" xyz="-55.8348   91.57547   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__112">
      <origin rpy="0  0  0" xyz="-55.8348   82.74755   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__113">
      <origin rpy="0  0  0" xyz="-55.8348   73.89707   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__114">
      <origin rpy="0  0  0" xyz="-55.8348   65.06916   1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__115">
      <origin rpy="0  0  0" xyz="-55.8348   56.21867   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__116">
      <origin rpy="0  0  0" xyz="-55.8348   47.39076   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__117">
      <origin rpy="0  0  0" xyz="-55.8348   38.85636   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__118">
      <origin rpy="0  0  0" xyz="-55.8348   30.32196   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__119">
      <origin rpy="0  0  0" xyz="-55.8348   21.78756   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__120">
      <origin rpy="0  0  0" xyz="-55.8348   13.25316   1.524"/>
      <geometry>
        <box size=".58702 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__121">
      <origin rpy="0  0  0" xyz="-55.8348    4.40266   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__122">
      <origin rpy="0  0  0" xyz="-64.2112   91.57547   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__123">
      <origin rpy="0  0  0" xyz="-64.2112   82.74755   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__124">
      <origin rpy="0  0  0" xyz="-64.2112   73.89707   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__125">
      <origin rpy="0  0  0" xyz="-64.2112   65.06916   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__126">
      <origin rpy="0  0  0" xyz="-64.2112   56.21867   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__127">
      <origin rpy="0  0  0" xyz="-64.2112   47.39076   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__128">
      <origin rpy="0  0  0" xyz="-64.2112   38.85636   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__129">
      <origin rpy="0  0  0" xyz="-64.2112   30.32196   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__130">
      <origin rpy="0  0  0" xyz="-64.2112   21.78756   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__131">
      <origin rpy="0  0  0" xyz="-64.2112   13.25316   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__132">
      <origin rpy="0  0  0" xyz="-64.2112    4.40266   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__133">
      <origin rpy="0  0  0" xyz="-72.6101   91.57547   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__134">
      <origin rpy="0  0  0" xyz="-72.6101   82.74755   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__135">
      <origin rpy="0  0  0" xyz="-72.6101   73.89707   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__136">
      <origin rpy="0  0  0" xyz="-72.6101   65.06916   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__137">
      <origin rpy="0  0  0" xyz="-72.6101   56.21867   1.524"/>
      <geometry>
        <box size=".632178 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__138">
      <origin rpy="0  0  0" xyz="-72.6101   47.39076   1.524"/>
      <geometry>
        <box size=".632178 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__139">
      <origin rpy="0  0  0" xyz="-72.6101   38.85636   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__140">
      <origin rpy="0  0  0" xyz="-72.6101   30.32196   1.524"/>
      <geometry>
        <box size=".632178 .94827 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__141">
      <origin rpy="0  0  0" xyz="-72.6101    4.40266   1.524"/>
      <geometry>
        <box size=".632178 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__142">
      <origin rpy="0  0  0" xyz="-80.9865   91.57547   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__143">
      <origin rpy="0  0  0" xyz="-80.9865   82.74755   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__144">
      <origin rpy="0  0  0" xyz="-80.9865   73.89707   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__145">
      <origin rpy="0  0  0" xyz="-80.9865   65.06916   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__146">
      <origin rpy="0  0  0" xyz="-89.3854   82.74755   1.524"/>
      <geometry>
        <box size="1.2192 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__147">
      <origin rpy="0  0  0" xyz="-89.3628   73.89707   1.524"/>
      <geometry>
        <box size=".90311 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__148">
      <origin rpy="0  0  0" xyz="-89.3628   65.06916   1.524"/>
      <geometry>
        <box size=".90311 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__149">
      <origin rpy="0  0  0" xyz="-73.31     13.25316   1.524"/>
      <geometry>
        <box size=".58702 1.2192 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__150">
      <origin rpy="0       0       0.18998" xyz="-82.4315   13.23508   1.524"/>
      <geometry>
        <box size="1.2192 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__151">
      <origin rpy="0       0       0.18998" xyz="-83.8087   21.76498   1.524"/>
      <geometry>
        <box size="1.2192 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__152">
      <origin rpy="0       0       0.18998" xyz="-85.186    30.29938   1.524"/>
      <geometry>
        <box size="1.2912 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__153">
      <origin rpy="0       0       0.18998" xyz="-86.5632   38.83377   1.524"/>
      <geometry>
        <box size=".90311 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__154">
      <origin rpy="0       0       0.18998" xyz="-87.963    47.36818   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__155">
      <origin rpy="0       0       0.15264" xyz="-76.4484   30.29938   1.524"/>
      <geometry>
        <box size=".58702 1.2912 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__156">
      <origin rpy="0       0       0.15264" xyz="-77.82559  38.83377   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__157">
      <origin rpy="0       0       0.15264" xyz="-79.2028   47.36818   1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__158">
      <origin rpy="0       0       0.15264" xyz="-80.6027  56.0832   1.524"/>
      <geometry>
        <box size=".58702 .90311 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__159">
      <origin rpy="0  0  0" xyz="-78.39    107.5154    1.524"/>
      <geometry>
        <box size=".90311 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__160">
      <origin rpy="0  0  0" xyz="-16.5269  107.5154    1.524"/>
      <geometry>
        <box size=".63218 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__161">
      <origin rpy="0  0  0" xyz="-6.40644  108.3508     1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__162">
      <origin rpy="0  0  0" xyz="-35.4245  106.1635    1.524"/>
      <geometry>
        <box size=".58702 .63218 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__163">
      <origin rpy="0       0       0.46364" xyz="-77.5547  105.0318    1.524"/>
      <geometry>
        <box size="1.2192 .60579 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__164">
      <origin rpy="0  0  0" xyz="-72.6101  107.8992    1.524"/>
      <geometry>
        <box size=".63218 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__165">
      <origin rpy="0  0  0" xyz="-66.80759  107.8992     1.524"/>
      <geometry>
        <box size=".94827 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__166">
      <origin rpy="0  0  0" xyz="-64.2112  107.8992    1.524"/>
      <geometry>
        <box size=".63218 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__167">
      <origin rpy="0  0  0" xyz="-55.8348  107.8992    1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__168">
      <origin rpy="0  0  0" xyz="-47.4585  107.8992    1.524"/>
      <geometry>
        <box size=".903112 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__169">
      <origin rpy="0  0  0" xyz="-39.08213  107.8992     1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
    <visual name="__170">
      <origin rpy="0  0  0" xyz="-30.6832  107.8992    1.524"/>
      <geometry>
        <box size=".58702 .58702 3.048"/>
      </geometry>
      <material name="grey">
        <color rgba="0.627 0.627 0.627 1"/>
      </material>
    </visual>
  </link>

  <link name="ground">
    <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10"/>
    </inertial>
    <collision name="__172">
      <origin rpy="0  0  0" xyz="-4.74585000e+01   5.79797300e+01  -2.54000000e-02"/>
      <geometry>
        <box size="92.47858 116.321 .0508"/>
      </geometry>
    </collision>
    <visual name="__171">
      <origin rpy="0  0  0" xyz="-4.74585000e+01   5.79797300e+01  -2.54000000e-02"/>
      <geometry>
        <box size="92.47858 116.321 .0508"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
  </link>
</robot>
