# PyPI packages to install via pip for binary Drake distributions.

# WARNING for Drake Developers: This list must be kept in sync with
# setup/python/pyproject.toml.

ipywidgets
matplotlib
notebook
Pillow
pydot
PyYAML
