<?xml version="1.0"?>

<model>
  <name>Extra Heavy Duty Table</name>
  <version>1.0</version>
  <sdf version="1.6">extra_heavy_duty_table.sdf</sdf>

  <author>
    <name>Lucy</name>
    <email>drake-users@mit.edu</email>
  </author>

  <description>
    A model of the following table:
    http://www.mcmaster.com/#8020T32
  </description>
</model>
