<?xml version="1.0"?>

<model>
  <name>Simple Double Pendulum Urdf</name>
  <version>1.0</version>
  <sdf>simple_double_pendulum.urdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    Simple double pendulum model specified via URDF.
  </description>
</model>
