<?xml version="1.0"?>
<!-- Comments in this file use frames as defined in the C++ Doxygen module
"Frames and Bodies",
http://drake.mit.edu/doxygen_cxx/group__multibody__frames__and__bodies.html.
In particular, this file refers to the link frame L, the body frame B, the
inertia frame I and the joint inboard frame F. -->
<robot name="SimpleDoublePendulum">
  <!-- Defines some colors to distinguish between the links. -->
  <material name="Red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="Green">
    <color rgba="0 1 0 1"/>
  </material>
  <material name="Blue">
    <color rgba="0 0 1 1"/>
  </material>
  <!-- The base link (i.e., the link that is not a child of any joint) is
  defined in the world frame. -->
  <link name="base">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0.1 0"/>
      <geometry>
        <box size="1 0.2 1"/>
      </geometry>
      <material name="Red"/>
    </visual>
  </link>
  <link name="upper_arm">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.5 0"/>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- The visual geometry is a cylinder defined in the visualization frame,
    V. The cylinder's radius is about its +Z axis. Since the link's frame, B,
    is oriented such that its +Y axis is up, we need to rotate frame V by PI / 2
    about its +X axis (roll) to make the cylinder upright in frame B. -->
    <visual>
      <!-- This provides the pose X_BV of the visual frame V measured and
      expressed in the body frame B. -->
      <origin rpy="1.57079632679 0 0" xyz="0 -0.5 0"/>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
      <material name="Green"/>
    </visual>
  </link>
  <link name="lower_arm">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.5 0"/>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- The visual geometry is a cylinder defined in the visualization frame,
    V. The cylinder's radius is about its +Z axis. Since the link's frame, B,
    is oriented such that its +Y axis is up, we need to rotate frame V by PI / 2
    about its +X axis (roll) to make the cylinder upright in frame B. -->
    <visual>
      <!-- This provides the pose X_BV of the visual frame V measured and
      expressed in the body frame B. -->
      <origin rpy="1.57079632679 0 0" xyz="0 -0.5 0"/>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
      <material name="Blue"/>
    </visual>
  </link>
  <joint name="joint1" type="continuous">
    <parent link="base"/>
    <child link="upper_arm"/>
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1"/>
  </joint>
  <joint name="joint2" type="continuous">
    <parent link="upper_arm"/>
    <child link="lower_arm"/>
    <origin rpy="0 0 0" xyz="0 -1.0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1"/>
  </joint>
  <!-- The following are color specifications for use by the Gazebo simulator.
  They are needed to visualize link colors in Gazebo. -->
  <gazebo reference="base">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="upper_arm">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="lower_arm">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
