/* s3://drake-web/fonts/stylesheet.css */
@import url('https://dmn3132s4wr9m.cloudfront.net/fonts/stylesheet.css');

/* user agent html.css */

tt, code, kbd, samp {
  font-family: 'DejaVu Sans Mono', monospace;
}

pre, xmp, plaintext, listing {
  font-family: 'DejaVu Sans Mono', monospace;
}

/* /tabs.css */

.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active {
  font-family: 'DejaVu Sans', sans-serif;
}

/* /navtree.css */

#nav-tree .label {
  font-family: 'DejaVu Sans', sans-serif;
}

/* /search/search.css */

.SelectItem {
  font-family: 'DejaVu Sans', sans-serif;
}

.SRSymbol {
  font-family: 'DejaVu Sans', sans-serif;
}

/* /doxygen.css */

body, table, div, p, dl {
  font-family: 'DejaVu Sans', sans-serif;
}

p.reference, p.definition {
  font-family: 'DejaVu Sans', sans-serif;
}

.title {
  font-family: 'DejaVu Sans', sans-serif;
}

pre.fragment {
  font-family: 'DejaVu Sans Mono', monospace;
}

div.line {
  font-family: 'DejaVu Sans Mono', monospace;
}

div.groupText {
  font-style: inherit;
}

.overload {
  font-family: 'DejaVu Sans Mono', monospace;
}

.params .paramdir {
  font-family: 'DejaVu Sans Mono', monospace;
}

.icon {
  font-family: 'DejaVu Sans', sans-serif;
}

table.directory {
  font-family: 'DejaVu Sans', sans-serif;
}

.navpath li.navelem a {
  font-family: 'DejaVu Sans', sans-serif;
}

#projectname {
  font-family: 'DejaVu Sans', sans-serif;
}

#projectbrief {
  font-family: 'DejaVu Sans', sans-serif;
}

#projectnumber {
  font-family: 'DejaVu Sans', sans-serif;
}

div.toc li {
  font-family: 'DejaVu Sans', sans-serif;
}

div.toc h3 {
  font-family: 'DejaVu Sans', sans-serif;
}

#powerTip div {
  font-family: 'DejaVu Sans', sans-serif;
}

/* Custom CSS */

pre.unicode-art {
  font-family: 'DejaVu Sans Mono', monospace;
  line-height: 1em;
}
