<?xml version="1.0"?>

<model>
  <name>Transcendesk Sit/Stand 55"</name>
  <version>1.0</version>
  <sdf>transcendesk55inch.sdf</sdf>

  <author>
    <name>Drake Developers</name>
    <email>user@host.com</email>
  </author>

  <description>
    A model of a sit-stand desk that's 55" wide. It is modeled after this one:
    https://www.amazon.com/Transcendesk-Standing-Desk-Easily-Sitting/dp/B01C66L75C
  </description>
</model>
