<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="iiwa_transmission" params="hardware_interface">

    <transmission name="iiwa_tran_1">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_2">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_3">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_3">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_3">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_4">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_4">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_4">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_5">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_5">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_5">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_6">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_6">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_6">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="iiwa_tran_7">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="iiwa_joint_7">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="iiwa_motor_7">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>



