<robot name="RimlessWheel">
<!-- Rimless wheel with mass 1 center, and 8 spokes of length 1 -->
  <link name="center" >
    <inertial>
      <mass value="1"/>
      <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <geometry>
        <cylinder radius=".2" length=".1"/>
      </geometry>
    </visual>
  </link>
  <link name="spoke1" >
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="2"/>
      </geometry>
    </visual>
  </link>
  <link name="spoke2" >
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0  0.78539"/>
      <geometry>
        <cylinder radius="0.03" length="2"/>
      </geometry>
    </visual>
  </link>
  <link name="spoke3" >
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.570796"/>
      <geometry>
        <cylinder radius="0.03" length="2"/>
      </geometry>
    </visual>
  </link>
  <link name="spoke4" >
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 2.356194"/>
      <geometry>
        <cylinder radius="0.03" length="2"/>
      </geometry>
    </visual>
  </link>
  <link name="toe1">
    <collision>
      <origin xyz="1 0 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="1 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe2">
    <collision>
      <origin xyz="0.7071067 0.7071067 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.7071067 0.7071067 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe3">
    <collision>
      <origin xyz="0 1 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 1 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe4">
    <collision>
      <origin xyz="-0.7071067 0.7071067 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.7071067 0.7071067 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe5">
    <collision>
      <origin xyz="-1 0 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-1 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe6">
    <collision>
      <origin xyz="-0.7071067 -0.7071067 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.7071067 -0.7071067 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe7">
    <collision>
      <origin xyz="0 -1 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -1 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="toe8">
    <collision>
      <origin xyz="0.7071067 -0.7071067 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.7071067 -0.7071067 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="joint1" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="center"/>
    <child link="spoke1"/>
  </joint>
  <joint name="joint2" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0.78539" />
    <parent link="center"/>
    <child link="spoke2"/>
  </joint>
  <joint name="joint3" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 1.570796" />
    <parent link="center"/>
    <child link="spoke3"/>
  </joint>
  <joint name="joint4" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 2.356194" />
    <parent link="center"/>
    <child link="spoke4"/>
  </joint>
  
  <joint name="toejoint1" type="fixed">
    <parent link="spoke1"/>
    <child link="toe1"/>
  </joint>
  <joint name="toejoint2" type="fixed">
    <parent link="spoke2"/>
    <child link="toe2"/>
  </joint>
  <joint name="toejoint3" type="fixed">
    <parent link="spoke3"/>
    <child link="toe3"/>
  </joint>
  <joint name="toejoint4" type="fixed">
    <parent link="spoke4"/>
    <child link="toe4"/>
  </joint>
  <joint name="toejoint5" type="fixed">
    <parent link="spoke1"/>
    <child link="toe5"/>
  </joint>
  <joint name="toejoint6" type="fixed">
    <parent link="spoke2"/>
    <child link="toe6"/>
  </joint>
  <joint name="toejoint7" type="fixed">
    <parent link="spoke3"/>
    <child link="toe7"/>
  </joint>
  <joint name="toejoint8" type="fixed">
    <parent link="spoke4"/>
    <child link="toe8"/>
  </joint>
  
</robot>
