<?xml version="1.0"?>
<model>
  <name>Level Steps</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>
  <description>
    A collection of cinderblocks in a level-angle stair formation.
  </description>
</model>
