html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   font-family: serif;
}

#title {
   font-variant: small-caps;
   text-transform: capitalize;
   text-align: center;
   height: 65px;
   margin: auto;
   text-overflow: ellipsis;
   white-space: nowrap;
}

#logo {
   float: left;
   height: 65px;
}

div, iframe {
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
}

.container {
   position: relative;
   width: 100%;
   height: 100%;
}

.iframe-container {
   position: absolute;
   top: 0;
   bottom: 40px;
   left: 180px;
   right: 0;
   margin: 10px;
}

iframe {
   position: absolute;
   width: 100%;
   height: 100%;
}

pre:first-line {
   line-height: 0px;
}

pre.matlab-code {
   font-family: monospace;
   white-space: normal;
}

header {
   height: 65px;
   line-height: 65px;
   border: 1px solid black;
   border-radius: 4px;
   padding: 10px;
}

footer {
   position: absolute;
   bottom: 0;
   right: 10px;
   padding: 0;
   margin: 0;
   line-height: 0;
}

img.float {
   display: block;
   margin-right: 50px;
   margin-top: 20px;
   max-width: 350px;
   max-height: 550px;
   float: right;
}

ul {
   list-style:none;
}

@media print {
   a {
      text-decoration: none;
      color: inherit;
   }
   .iframe-container {
      margin: 0;
   }
   img.float {
      margin-right: 0;
   }
}
