<?xml version="1.0"?>

<model>
  <name>Simple Double Pendulum L Equals B Sdf</name>
  <version>1.0</version>
  <sdf>simple_double_pendulum_l_equals_b.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    Simple double pendulum Model specified via SDF. In this model the link frame
    L equals the body frame B. See the C++ Doxygen module "Frames and Bodies"
    for more information on the definition of frames used by Drake.
  </description>
</model>
