<?xml version="1.0"?>
<robot name="asus_xtion">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- TODO(eric.cousineau): Use actual inertial properties. -->
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="asus_xtion.obj" />
      </geometry>
      <material name="dark">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <!-- TODO(eric.cousineau): Consider collision. -->
   </link>
</robot>
