<?xml version="1.0" ?>
<!--
Implements a robot model that contains a transmission for a joint that does not
exist.
-->
<robot name="robot_with_bad_transmission">
  <transmission type="SimpleTransmission" name="bad_transmission">
    <actuator name="torque" />
    <joint name="non-existent-joint" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
</robot>
