<?xml version="1.0"?>

<model>
  <name>Dual KUKA iiwa Manipulators</name>
  <version>1.0</version>
  <sdf>dual_iiwa_manipulators.sdf</sdf>

  <author>
    <name>Drake Developers</name>
    <email>user@host.com</email>
  </author>

  <description>
    A model of two KUKA iiwa robots each fixed to an extra heavy duty table.
    The two robots are arranged in front of a desk for bimanual manipulation.
  </description>
</model>
