<?xml version="1.0"?>

<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../doc/drakeURDF.xsd" name="Acrobot">

  <parameter name="b1" value=".1" lb="0" />
  <parameter name="b2" value=".1" lb="0" />
  <parameter name="l1" value="1" lb="0" />
  <parameter name="lc1" value=".5" lb="0" />
  <parameter name="lc2" value="1" lb="0" />
  <parameter name="Ic1" value=".083" lb="0" />
  <parameter name="Ic2" value=".33" lb="0" />

  <link name="base_link">
    <visual>
      <geometry>
         <box size=".2 .2 .2" />
      </geometry>
      <material name="green">
	<color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>

  <link name="upper_link">
    <inertial>
      <origin xyz="0 0 -$lc1" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="$Ic1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 -$l1/2" rpy="0 0 0" />
      <geometry>
         <cylinder length="$l1+.1" radius=".05" />
      </geometry>
      <material name="red">
	<color rgba="1 0 0 1" />
      </material>
    </visual>
  </link>

  <link name="lower_link">
    <inertial>
      <origin xyz="0 0 -$lc2" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="$Ic2" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 -1" rpy="0 0 0" />
      <geometry>
         <cylinder length="2.1" radius=".05" />
      </geometry>
      <material name="blue">
	<color rgba="0 0 1 1" />
      </material>
    </visual>
  </link>
  
  <joint name="shoulder" type="continuous">
    <parent link="base_link" />
    <child link="upper_link" />
    <origin xyz="0 .15 0" />
    <axis xyz="0 1 0" />
    <dynamics damping="$b1" />
  </joint>

  <joint name="elbow" type="continuous">
    <parent link="upper_link" />
    <child link="lower_link" />
    <origin xyz="0 .1 -$l1" />
    <axis xyz="0 1 0" />
    <dynamics damping="$b2" />
  </joint>

  <transmission type="SimpleTransmission" name="elbow_trans">
    <actuator name="elbow_torque" />
    <joint name="elbow" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
</robot>
