<?xml version="1.0"?>

<model>
  <name>Cinder Block 2</name>
  <version>1.0</version>
  <sdf version="1.7">model-1_4.sdf</sdf>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A model of a cinder block.
  </description>

</model>
