/* s3://drake-web/fonts/stylesheet.css */
@import url('https://dmn3132s4wr9m.cloudfront.net/fonts/stylesheet.css');

/* user agent html.css */

tt, code, kbd, samp {
  font-family: 'DejaVu Sans Mono', monospace;
}

pre, xmp, plaintext, listing {
  font-family: 'DejaVu Sans Mono', monospace;
}

/* /_static/css/theme.css */

pre, code, .rst-content tt, .rst-content code, kbd, samp {
  font-family: 'DejaVu Sans Mono', monospace;
}

.btn {
  font-family: 'DejaVu Sans', sans-serif;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  font-family: 'DejaVu Sans', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
  font-family: 'DejaVu Sans', sans-serif;
}

textarea {
  font-family: 'DejaVu Sans', sans-serif;
}

.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
  font-family: 'DejaVu Sans', sans-serif;
}

body {
  font-family: 'DejaVu Sans', sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: 'DejaVu Sans', sans-serif;
}

code, .rst-content tt, .rst-content code {
  font-family: 'DejaVu Sans Mono', monospace;
}

.linenodiv pre {
  font-family: 'DejaVu Sans Mono', monospace;
}

div[class^='highlight'] pre {
  font-family: 'DejaVu Sans Mono', monospace;
}

footer span.commit code, footer span.commit .rst-content tt, .rst-content footer span.commit tt {
  font-family: 'DejaVu Sans Mono', monospace;
}

.rst-versions {
  font-family: 'DejaVu Sans', sans-serif;
}

.rst-content .sidebar .sidebar-title {
  font-family: 'DejaVu Sans', sans-serif;
}
