<?xml version="1.0"?>
<model>
    <name>drake_prius</name>
    <version>1.0</version>
    <sdf>urdf/drake_prius.urdf</sdf>

    <author>
       <name>Chien-Liang Fok</name>
       <email>liang.fok@tri.global</email>
    </author>

    <description>
        The Prius vehicle used by Drake's example.
    </description>
</model>
