<?xml version="1.0"?>
<!-- ===================================================================== -->
<!-- Collision models: complex meshes can drastically affect run time.
     Therefore some collision models are represented as simple cylinders
     instead of meshes. However it's important to have accurate collision
     models for the end of the arm because we anticipate that the end is the
     most likely part of the arm to make contact.
-->
<!-- ===================================================================== -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa14">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro"/>
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <!-- Defines a base link that will serve as the model's root. -->
  <link name="base"/>
  <!--iiwa-->
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="base" collision_type="primitive">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:iiwa14>
</robot>
