<?xml version="1.0" ?>

<robot name="cylinder" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="cylinder">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.25" radius="0.025"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.25" radius="0.025"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 .5 1"/>
      </material>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>
</robot>
