<!--
s-model_articulated_macro(prefix)

Creates an articulated s-model hand with the passed in prefix.  If there
is only one hand in the urdf then an empty prefix can be used "".  If
there are multiple hands then a prefix followed by an "_" is needed.

-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find robotiq_hand_description)/cfg/s-model_finger_articulated_fourbar_macro.xacro" />
	<xacro:macro name="s-model_articulated" params="prefix">
	<xacro:s-model_finger_articulated prefix="${prefix}finger_1_"/>
	<xacro:s-model_finger_articulated prefix="${prefix}finger_2_"/>
	<xacro:s-model_finger_articulated prefix="${prefix}finger_middle_"/>
		<!-- link list -->
		<link name="${prefix}palm">
			<visual>
				<geometry>
					<mesh filename="package://robotiq_hand_description/meshes/s-model_articulated/visual/palm.STL" />
				</geometry>
				<material name="black">
					<color rgba=".2 .2 .2 1"/>
				</material>
			</visual>
			<collision>
                <origin xyz="0 .046 0" rpy="0 0 0"/>
                <geometry>
                    <box size=".1 .01 .1"/>
                </geometry>
                <material name="yellow">
                    <color rgba="0 1 1 1"/>
                </material>
            </collision>
		</link>
        
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.3"/>
            <inertia ixx="0.006012" ixy="0.000079" ixz="-0.00024" iyy="0.012892" iyz="0" izz="0.002435" />
        </inertial>
		<!-- end of link list -->
		<!-- joint list -->

		<!-- WARNING: LIMITS NOT CORRECT -->
		<joint name="${prefix}palm_finger_1_joint" type="fixed">
			<parent link="${prefix}palm"/>
			<child link="${prefix}finger_1_link_0"/>
			<axis xyz="0 1 0"/>
			<origin xyz="-0.0455 0.0214 0.036" rpy="0 3.1416 -1.57"/>
			<!--<limit lower="-0.16" upper="0.25" effort="100" velocity="100"/>-->
		</joint>
		<!-- WARNING: LIMITS NOT CORRECT -->
		<joint name="${prefix}palm_finger_2_joint" type="fixed">
			<parent link="${prefix}palm"/>
			<child link="${prefix}finger_2_link_0"/>
			<axis xyz="0 1 0"/>
			<origin xyz="-0.0455 0.0214 -0.036" rpy="0 3.1416 -1.57"/>
			<!--<limit lower="-0.25" upper="0.16" effort="100" velocity="100"/>-->
		</joint>
		<joint name="${prefix}palm_finger_middle_joint" type="fixed">
			<parent link="${prefix}palm"/>
			<child link="${prefix}finger_middle_link_0"/>
			<axis xyz="0 0 1"/>
			<origin xyz="0.0455 0.0214 0" rpy="0 0 1.57"/>
		</joint>
		<!-- end of joint list -->
        <!-- gazebo property list -->
        <gazebo reference="${prefix}palm">
            <material>Gazebo/FlatBlack</material>
            <turnGravityOff>true</turnGravityOff>
        </gazebo>
        <!-- end of gazebo property list -->
        <!--<transmission type="SimpleTransmission" name="${prefix}palm_finger_1_joint_trans">
            <actuator name="${prefix}palm_finger_1_control_torque" />
            <joint name="${prefix}palm_finger_1_joint" />
            <mechanicalReduction>1</mechanicalReduction>
        </transmission> 
        <transmission type="SimpleTransmission" name="${prefix}palm_finger_2_joint_trans">
            <actuator name="${prefix}palm_finger_2_control_torque" />
            <joint name="${prefix}palm_finger_2_joint" />
            <mechanicalReduction>1</mechanicalReduction>
        </transmission>-->
	</xacro:macro>
</robot>
