<?xml version="1.0" ?>

<!-- 
s-model_articulated - articulated version of the robotiq s-model,
3 fingered gripper.                                                
-->
<robot name="s-model_articulated" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find robotiq_hand_description)/cfg/s-model_articulated_fourbar_macro.xacro" />
	<xacro:s-model_articulated prefix=""/>

<!--
	<include filename="$(find robotiq_s_model_visualization)/cfg/s-model_finger_articulated_macro.xacro" />
	<xacro:s-model_finger_articulated prefix=""/>
-->
</robot>

