<?xml version="1.0"?>

<model>
  <name>Angled Steps Base</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    A static base for angled cinderblock steps.
  </description>

</model>
