<robot name="overlapping_spheres">
    <!--
        Two simple colliding spheres. Their centers lie on the x-axis on
        opposite sides of the y-z plane. Both spheres enclose the origin at a
        depth of 0.1. The net penetration depth between the spheres is 0.2.

        There is also an SDF version of this file: no_filter_groups.sdf.
        Both files should specify the same links and geometry.

        NOTE: Inertia values are introduced to prevent the parser from welding
        links.
    -->
    <link name="sphereA">
        <inertial>
            <mass value="1"/>
        </inertial>
        <collision>
            <origin xyz="-0.9 0 0" />
            <geometry>
                <sphere radius="1" />
            </geometry>
        </collision>
    </link>

    <link name="sphereB">
        <inertial>
            <mass value="1"/>
        </inertial>
        <collision>
            <origin xyz="0.9 0 0" />
            <geometry>
                <sphere radius="1" />
            </geometry>
        </collision>
    </link>
</robot>
