# PyPI packages to make available for Drake source builds with tests.

# WARNING: If you change this file, then you must regenerate the "locked"
# requirements files via:
#
#     tools/workspace/python/venv_upgrade

-r requirements-build.in

# Packages that we are happy to take the most recent version any time we update.
# The versions of these packages are "locked" in the requirements-test.txt file
# and can change any time it updates. These are in addition to anything listed
# in the build requirements.

flask
six
u-msgpack-python
websockets

# The following are constrained or pinned version of packages. Typically we
# shouldn't need constraints, so anything listed here must be accompanied by
# a comment explaining the need for the constraint.

# (None)