# PyPI packages to make available as Drake's bazel `@venv` repository.

# WARNING: If you change this file, then it is up to you to regenerate
# the "locked" requirements[-with-test].txt files via:
#
#     tools/workspace/venv/upgrade

-r ../binary_distribution/requirements.txt

# Packages that we are happy to take the most recent version any time we
# update requirements.  The versions of these packages are "locked" in the
# requirements[-with-test].txt files and change any time it updates.  This
# should be the overwhelming majority of our requirements.  Note that these are
# in addition to anything listed in requirements-binary.in


# The following are constrained or pinned version of packages.
