<?xml version="1.0"?>
<robot name="simple_cuboid">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.000363" ixy="0" ixz="0" iyy="0.000363" iyz="0"
          izz="0.00006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.02 0.4" />
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.02 0.4" />
      </geometry>
    </collision>
   </link>
</robot>
