<?xml version="1.0" ?>
<launch>
  <!-- Load the robot description parameter-->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find drake_cars_examples)/models/drake_prius/xacro/drake_prius_rviz.xacro'" />

  <!-- Load the world description parameter -->
  <param name="world_description" textfile="$(find drake_cars_examples)/models/stata_garage_p1.urdf" />

  <!-- Start RViz -->
  <include file="$(find drake_cars_examples)/launch/rviz.xml">
    <arg name="RVizConfigFile" value="$(find drake_cars_examples)/rviz/drake_cars_examples.rviz" />
  </include>

  <!-- Sets the drake/enable_tf_publisher parameter that controls whether Drake publishes tf messages. -->
  <group ns="drake">
    <param name="enable_tf_publisher" type="bool" value="true" />
  </group>

  <include file="$(find drake_cars_examples)/launch/golfcart_adapter.launch" />

</launch>