<?xml version="1.0" ?>
<!--
This is the main launch file for the single car in MIT Stata garage demo.
To run it:

  $ roslaunch drake_cars_examples single_car_in_stata_garage.launch
-->
<launch>
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_drake.xml" />
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_rviz.xml" />
</launch>
