<?xml version="1.0" ?>
<!--
This is the main launch file for the single car in MIT Stata garage demo.
To run it:

  $ roslaunch drake_cars_examples single_car_in_stata_garage.launch
-->
<launch>
  <include file="$(find drake_cars_examples)/launch/drake_common.xml" />
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_desc.xml" />
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_rviz.xml" />

  <node name="single_car_in_stata_garage" pkg="drake_cars_examples"
    type="single_car_in_stata_garage" output="screen"
    args="$(find drake)/drake/examples/Cars/models/prius/prius_with_lidar.sdf $(find drake)/drake/examples/Cars/models/stata_garage_p1.sdf"/>

  <include file="$(find drake_cars_examples)/launch/golfcart_adapter.launch" />
</launch>
