<?xml version="1.0" ?>
<!--
This launch file just starts RViz with one car in the MIT Stata garage. It does
not start Drake.

To run it:

    $ roslaunch drake_cars_examples single_car_in_stata_garage_rviz.launch

Once RViz is running, you can start Drake manually:

    $ rosrun drake_cars_examples single_car_in_stata_garage `rospack find drake`/drake/automotive/models/prius/prius_with_lidar.sdf `rospack find drake`/drake/automotive/models/stata_garage_p1.sdf
-->
<launch>
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_desc.xml" />
  <include file="$(find drake_cars_examples)/launch/single_car_in_stata_garage_rviz.xml" />
</launch>
