<?xml version="1.0"?>

<model>
  <name>Simple Double Pendulum L Equals I Sdf</name>
  <version>1.0</version>
  <sdf>simple_double_pendulum_l_equals_i.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    A simple double pendulum model specified via SDF. In this model, we try to
    make L = I for the lower arm. See the C++ Doxygen module "Frames and Bodies"
    for more information on the definition of frames used by Drake.
  </description>
</model>
