<?xml version="1.0"?>
<robot name="big_robot_toy">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.000363" ixy="0" ixz="0" iyy="0.000363" iyz="0"
          izz="0.00006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/visual/big_robot_toy.obj"/>
      </geometry>
    </visual>

    <!--
      This places contact spheres on the corners of the visual box and a
      *slightly* smaller inset contact box (centered on the visual origin). This
      accounts for issues in the contact computation providing stable table
      contact *and* supports grasping.

      When the box is in stable contact with the ground plane, the corner
      spheres will provide fixed contact points (simulating distributed contact
      points around the face).  However, for arbitrary grip configuration, the
      slightly inset box will provide contact with a *slight* offset (in this
      case a deviation of 0.0005 m from the visual surface).

      https://github.com/RobotLocomotion/drake/issues/6254 tracks the
      difficulty in supporting face-to-face contact.
     -->
    <collision>
      <geometry>
        <box size="0.099 0.034 0.179" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.05 -0.0175 -0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 0.0175 -0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 0.0175 -0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 -0.0175 -0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.05 -0.0175 0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 0.0175 0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 0.0175 0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.05 -0.0175 0.09" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>

   </link>
</robot>
