<?xml version="1.0"?>
<robot name="simple_cuboid">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.000363" ixy="0" ixz="0" iyy="0.000363" iyz="0" izz="0.00006"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.075 0.2"/>
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.8 0.1 0.9"/>
      </material>
    </visual>
    <!--
      This places contact spheres on the corners of the visual box and a
      *slightly* smaller inset contact box (centered on the visual origin). This
      accounts for issues in the contact computation providing stable table
      contact *and* supports grasping.

      When the box is in stable contact with the ground plane, the corner
      spheres will provide fixed contact points (simulating distributed contact
      points around the face).  However, for arbitrary grip configuration, the
      slightly inset box will provide contact with a *slight* offset (in this
      case a deviation of 0.0005 m from the visual surface).
     -->
    <collision>
      <geometry>
        <box size="0.059 0.089 0.199"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 -0.0375 -0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 0.0375 -0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.03 0.0375 -0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.03 -0.0375 -0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.03 -0.0375 0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision><origin xyz="-0.03 0.0375 0.1" rpy="0 0 0"/><geometry><sphere radius="1e-7"/></geometry>d
    </collision>
    <collision>
      <origin xyz="0.03 0.0375 0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.03 -0.0375 0.1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="1e-7"/>
      </geometry>
    </collision>
  </link>
</robot>
