<?xml version="1.0"?>
<robot name="simple_cylinder">
  <link name="cylinder_base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.088"/>
      <inertia ixx="0.0001471708" ixy="0" ixz="0" iyy="0.0001471708" iyz="0" izz="0.000046475"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.130" radius="0.0325"/>
      </geometry>
      <material name="bright green">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.130" radius="0.0325"/>
      </geometry>
    </collision>
  </link>
</robot>
