<?xml version="1.0"?>
<robot name="simple_cuboid">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.00541" ixy="0" ixz="0" iyy="0.004166" iyz="0"
          izz="0.020833" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />git
      <geometry>
        <box size="0.1 0.2 0.3" />
      </geometry>
      <material name="dark blue">
        <color rgba="0.1 0.1 0.9 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.2 0.3" />
      </geometry>
    </collision>
   </link>
</robot>
