<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../doc/drakeURDF.xsd" name="Test_Wing">
  <link
    name="Wing">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value=".13" />
      <inertia
        ixx="0.008333"
        ixy="0"
        ixz="0"
        iyy=".003648"
        iyz="0"
        izz="0.008696" />
    </inertial>
    <visual>
      <origin
        xyz=".1 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size = ".4 1 .01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-.10 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size = ".4 1 .04"/>
      </geometry>
    </collision>
  </link>
  <force_element name="Wing_force">
    <wing chord=".4" span="1" nominal_speed="10" stall_angle="12" profile="ht23.dat" visual_geometry="false">
    	<parent link="Wing"/>
    	<origin xyz=".1 0 0"/>
    </wing>
  </force_element>
</robot>
