<!--
  A simple world URDF composed of two ramps with boxes between them.
-->
<robot name="dual_ramps">
  <material name="terrain">
    <color rgba="0.93333333333 0.79607843137 0.67843137254 1"/>
  </material>
  <material name="ramp">
    <color rgba="0.93333333333 0.2 0.2 1"/>
  </material>

  <link name="world_">
  </link>

  <link name="floor">
    <visual>
      <material name="terrain"/>
      <geometry>
        <origin xyz="0 0 0"/>
        <box size="1000 1000 10"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <origin xyz="0 0 0"/>
        <box size="1000 1000 10"/>
      </geometry>
    </collision>
  </link>

  <link name="ramp_1">
    <visual>
      <material name="ramp"/>
      <origin rpy="0 -0.165148677 0"/>
      <geometry>
        <box size="12 8 2"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 -0.165148677 0"/>
      <geometry>
        <box size="12 8 2"/>
      </geometry>
    </collision>
  </link>

  <link name="ramp_2">
    <visual>
      <material name="ramp"/>
      <origin rpy="0 0.165148677 0"/>
      <geometry>
        <box size="12 8 2"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0.165148677 0"/>
      <geometry>
        <box size="12 8 2"/>
      </geometry>
    </collision>
  </link>

  <link name="box_1">
    <visual>
      <origin xyz="0 -2 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <link name="box_2">
    <visual>
      <origin xyz="0 -2 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <link name="box_3">
    <visual>
      <origin xyz="0 -2 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>
  <link name="box_4">
    <visual>
      <origin xyz="0 -2 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="world_to_floor" type="fixed">
    <parent link="world_"/>
    <child link="floor"/>
    <origin xyz="0 0 -5"/>
  </joint>
  <joint name="world_to_ramp_1" type="fixed">
    <parent link="world_"/>
    <child link="ramp_1"/>
    <origin xyz="40 0 0"/>
  </joint>
  <joint name="ramp_1_to_ramp_2" type="fixed">
    <parent link="ramp_1"/>
    <child link="ramp_2"/>
    <origin xyz="24 0 0"/>
  </joint>
  <joint name="world_to_box_1" type="fixed">
    <parent link="world_"/>
    <child link="box_1"/>
    <origin xyz="48 0 0"/>
  </joint>
  <joint name="world_to_box_2" type="fixed">
    <parent link="world_"/>
    <child link="box_2"/>
    <origin xyz="51 0 0"/>
  </joint>
  <joint name="world_to_box_3" type="fixed">
    <parent link="world_"/>
    <child link="box_3"/>
    <origin xyz="54 0 0"/>
  </joint>
  <joint name="world_to_box_4" type="fixed">
    <parent link="world_"/>
    <child link="box_4"/>
    <origin xyz="57 0 0"/>
  </joint>
</robot>
