<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="BowlingBall">

 <!-- A simple model of a bowling ball. The ball's geometry is a pefect sphere
 (i.e., no holes).  But its mechanical properties represent the more subtle
 properties of a real bowling ball such as:
    - Center of mass is *not* the center of the sphere,
    - Non-spherical inertial tensor.

 The values have been drawn from *this* discussion of bowling physics:
 http://www.real-world-physics-problems.com/physics-of-bowling.html

    Physical quantities (this assumes a symmetric weight block):
    Mass: 7 kg
    Radius: 10.85 cm
    Displacement of center of mass from geometric enter: <0 0.001 0>
    The "pin" of the weight block points in the positive y direction giving
    the following inertial matrix values.
        Ixx = Izz = 0.033 kg⋅m²
        Iyy = 0.031 kg⋅m²
 -->
  <link name="ball">
    <inertial>
      <mass value="7"/>
      <origin xyz="0 0.001 0" rpy="0 0 0"/>
      <inertia ixx="0.033" ixy="0" ixz="0" iyy="0.031" iyz="0" izz="0.033"/>
    </inertial>
    <visual>
      <geometry>
        <!-- Note: This radius must agree with the radius referenced in
        the collision sphere below and in bowling_ball.cc -->
        <sphere radius=".1085" />
      </geometry>
    </visual>
    <!-- These are simple visual markers so rotation motion of the ball is
      easier to see.
      TODO(SeanCurtis-TRI): Replace these with a textured mesh.
     -->
    <visual>
      <origin xyz="0 .1085 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -.1085 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="0 0 0.5 1" />
      </material>
    </visual>
    <visual>
      <origin xyz=".10850 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-.10850 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="0 0.5 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 .10850" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="0.5 0 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 -.10850" rpy="0 0 0"/>
      <geometry>
        <sphere radius=".05" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>

    <collision group="ball">
      <geometry>
        <!-- Note: This radius must agree with the radius referenced in
        the visualization sphere above and in bowling_ball.cc -->
        <sphere radius="0.1085" />
      </geometry>
    </collision>
  </link>
</robot>
