<?xml version="1.0"?>

<model>
  <name>Simple Double Pendulum L Is Not Specified Sdf</name>
  <version>1.0</version>
  <sdf>simple_double_pendulum_l_is_not_specified.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    A simple double pendulum model specified via SDF. In this model, the link
    frame, L, is not specified for the lower arm, i.e., there is no pose given
    for the link. This results in L being equal to the model frame, D. See the
    C++ Doxygen module "Frames and Bodies" for more information on the
    definition of frames used by Drake.
  </description>
</model>
