<?xml version="1.0"?>
<model>
  <name>Extra Heavy Duty Table</name>
  <version>1.0</version>
  <sdf>extra_heavy_duty_table.sdf</sdf>
  <author>
    <name>Drake Developers</name>
    <email>user@host.com</email>
  </author>
  <description>
    A model of a metal industrial table with a square work surface area. It is
    modeled after this one: http://littlegiant-usa.com/products/mth1-1630-24.
  </description>
</model>
