<?xml version="1.0"?>
<robot name="non_conflicting_materials_1">
  <material name="brown">
    <color rgba="0.93333333333 0.79607843137 0.67843137254 1"/>
  </material>
  <material name="red">
    <color rgba="0.93333333333 0.2 0.2 1"/>
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <box size=".2 .2 .2"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <capsule length="0.5" radius="0.2"/>
      </geometry>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.25"/>
      </geometry>
      <material name="textured">
        <texture filename="empty.png"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <sphere radius="0.25"/>
      </geometry>
      <material name="texture_and_color">
        <texture filename="empty.png"/>
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
  </link>
</robot>
