<?xml version="1.0"?>
<!-- This model.config file is used by Gazebo (http://gazebosim.org/) to find
  models in the local file system, which users can then add to a simulation. To
  enable this capability, simply include the path to the containing folder in
  the GAZEBO_MODEL_PATH environment variable prior to launching Gazebo. For more
  details, see the sections entitled "Model Database Structure" and
  "Model Config" in the following website:
  http://gazebosim.org/tutorials?tut=model_structure. -->
<model>
  <name>wsg_50</name>
  <version>1.0</version>
  <!-- Note: even though the following tag is called "sdf", it is OK to
      provide a URDF file based on the following documentation:
      http://gazebosim.org/tutorials?tut=model_structure&cat=#ModelConfig. -->
  <sdf>urdf/wsg_50_mesh_collision.urdf</sdf>
  <author>
    <name>Drake Users</name>
    <email>drake-users@mit.edu</email>
  </author>
  <description>A URDF of Schunk's WSG 50 robot gripper.</description>
</model>
