<?xml version="1.0" ?>
<model>
  <name>xtion</name>
  <version>1.0</version>
  <sdf>xtion.urdf</sdf>

  <author>
    <name>Drake Users</name>
    <email>drake-users@mit.edu</email>
  </author>

  <description>
    This package contains the URDF of the Xtion PRO Live camera.
  </description>
</model>
