# Import some helper configurations.
import %workspace%/tools/cc_toolchain/bazel.rc
import %workspace%/tools/dynamic_analysis/bazel.rc
import %workspace%/tools/lint/bazel.rc

# Default to an optimized build.
build -c opt

# Default build options.
build --force_pic
build --strip=never
# Only show warnings from Drake, not from externals.
build --output_filter="^//"

# Default test options.
test --test_output=errors
test --test_summary=terse

# By default, disable execution of tests that require proprietary software.
# Individual targets that use proprietary software are responsible for ensuring
# they can also build without it, typically by using a select statement.
# config_setting rules for proprietary software are provided in //tools.
test --test_tag_filters=-gurobi,-mosek,-snopt

# Inject DISPLAY into test runner environment for tests that use X.
test --test_env=DISPLAY

### A configuration that enables Gurobi. ###
# -- To use this config, the GUROBI_PATH environment variable must be the
# -- linux64 directory in the Gurobi 7.0.2 release.
#
# -- To run tests where Gurobi is used, ensure that you include
# -- "gurobi_test_tags()" from //tools:gurobi.bzl. If Gurobi is optional, set
# -- gurobi_required=False.
build:gurobi --define=WITH_GUROBI=ON
# -- By default, Gurobi looks for the license file in the homedir.
test:gurobi --test_env=HOME
# -- If set, the GRB_LICENSE_FILE path takes precedence.
test:gurobi --test_env=GRB_LICENSE_FILE

### A configuration that enables MOSEK. ###
# -- To use this config, you must have a MOSEK license file installed to
# -- $HOME/mosek/mosek.lic.
#
# -- To run tests where MOSEK is used, ensure that you include
# -- "mosek_test_tags()" from //tools:mosek.bzl. If MOSEK is optional, set
# -- mosek_required=False.
build:mosek --define=WITH_MOSEK=ON
# -- MOSEK looks for its license file at $HOME/mosek/mosek.lic
test:mosek --test_env=HOME

### A configuration that enables SNOPT. ###
# -- To use this config, you must have access to the private repository
# -- RobotLocomotion/snopt on GitHub, and your local git must be configured
# -- with SSH keys as documented at http://drake.mit.edu/from_source.html.
#
# -- To run tests that require SNOPT, also specify a set of test_tag_filters
# -- that does not exclude the "snopt" tag.
build:snopt --define=WITH_SNOPT=ON

### A configuration that enables all optional dependencies. ###
test:everything --test_tag_filters=-no_everything

# -- Options for Gurobi.
build:everything --define=WITH_GUROBI=ON
test:everything --test_env=GRB_LICENSE_FILE
# -- Options for MOSEK.
build:everything --define=WITH_MOSEK=ON
# -- Options for Gurobi and MOSEK.
test:everything --test_env=HOME
# -- Options for SNOPT.
build:everything --define=WITH_SNOPT=ON
