# Disable ccache due to incompatibility with Bazel.
build --action_env=CCACHE_DISABLE=1

# When compiling with Drake as the main module (i.e., if and only if this rcfile
# is loaded), we enable -Werror by default for Drake's *own* targets, but not
# for our externals.
#
# Developers may still disable errors locally by passing --copt=-w on the
# command line, or promote *any* warnings even from externals to errors via
# --copt=-Werror.
#
# When compiling Drake as an external package, this rcfile is not loaded and we
# won't promote warnings to errors by default.
build --@drake//tools/cc_toolchain:error_severity=error

# Similarly, only allow using the mold linker when Drake is the main
# module. Other conditions will be checked as well; see
# //tools/cc_toolchain:use_mold_linker for more details.
build --@drake//tools/cc_toolchain:allow_mold_linker=true
