<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drake_prius" >
    <!-- RViz uses package:// for the model path. -->
    <property name="modelPath" value="package://drake_cars_examples/models/drake_prius" />

    <xacro:include filename="$(find drake_cars_examples)/models/drake_prius/xacro/drake_prius_base.xacro" />
</robot>
