<?xml version="1.0" ?>
<robot name="sedan">
  <link name="box_shape">
    <!-- Inertia data is arbitrary. Its purpose here is to evade the
         joint-welding checks in rigid_body_tree.cc. The resulting world-object
         joint should be a full 6DF floating joint.
    -->
    <inertial>
      <mass value="14.28"/>
      <inertia ixx=".49991220" iyy=".77843904" izz=".49991220"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
      <geometry>
        <box size="2.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
