<?xml version="1.0"?>

<model>
  <name>Simple Double Pendulum L Is Not Specified Sdf</name>
  <version>1.0</version>
  <sdf>simple_double_pendulum_l_is_not_specified.sdf</sdf>

  <author>
    <name>John Doe</name>
    <email>user@host.com</email>
  </author>

  <description>
    A simple double pendulum model specified via SDF. In this model, frame L is
    not specified for the lower arm, i.e., there is no pose given for the link.

    **NOTE: The following text is wrong according to Gazebo test.**

    This implies that the fixed frame F is given in the model frame D by the
    &lt;pose&gt; entry in the &lt;joint&gt;.
  </description>
</model>
