<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drake_prius_linked_to_world" >
    <!-- RViz uses package:// for the model path. -->
    <property name="modelPath" value="package://drake_cars_examples/models/drake_prius" />

    <xacro:include filename="$(find drake_cars_examples)/models/drake_prius/xacro/drake_prius_base.xacro" />

    <link name="world">
        <!-- Virtual Link -->
        <inertial>
            <mass value="0.1"/>
            <origin rpy="0 0 0" xyz="0 0 1.2"/>
            <inertia ixx="8.33333333333e-05" ixy="0.0" ixz="0.0" iyy="8.33333333333e-05" iyz="0.0" izz="0.000125"/>
        </inertial>
    </link>

    <joint name="chassis_offset" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="world"/>
        <child link="chassis_floor"/>
    </joint>
</robot>
